<h2>The contacts</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>E-mail address</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let contact of contacts">
			<td>
				<div *ngIf="!contact.editing">{{contact | contactName}}</div>
				<div *ngIf="contact.editing">
					<input type="text" [(ngModel)]="contact.firstName">
					<input type="text" [(ngModel)]="contact.surname">
				</div>
			</td>
			<td>
				<div *ngIf="!contact.editing">{{contact.email}}</div>
				<div *ngIf="contact.editing">
					<input type="text" [(ngModel)]="contact.email"></div>
			</td>
			<td>
				<div *ngIf="!contact.editing">
					<button (click)="edit(contact)">Edit</button>
					<button (click)="delete(contact)">Delete</button>
				</div>
				<button (click)="save(contact)" *ngIf="contact.editing">Save</button>
			</td>
		</tr>
	</tbody>
</table>