<h1>{{title}}</h1>
<p [style.color]="color">Dit is rood</p>
<button (click)=flip()>flip</button>
<p *ngIf=show>Dit is optioneel</p>

<!-- <form>
    <input (input)="onChange($event)" type="text" name="name">
</form> -->
----------------<BR>
<input placeholder="Search" type="text" [formControl]="searchControl">
<table>
    <tr *ngFor="let user of filteredUsers">
        <td>{{user}}</td>
    </tr>
</table>

----------------<BR>
<form [formGroup]="myFormGroup" (ngSubmit)="save()">
    <input (input)="onChange($event)" type="text" formControlName="name"><span *ngIf="myFormGroup.invalid">*</span><BR>
    <button [disabled]="myFormGroup.invalid">Save</button>
</form>

----------------<BR>

<pre>Name:{{name}}</pre>
<pre>Filter:{{filter | json}}</pre>