<h1 id="title">{{title}}</h1>
<!-- <p [style.color]="color">Dit is rood</p>
<p *ngIf=show>Dit is optioneel</p> -->

<!-- <form>
    <input (input)="onChange($event)" type="text" name="name">
</form> -->

<div class="flex">
    <input placeholder="Search" type="text" [formControl]="searchControl" id="search">
    <app-users [users]="filteredUsers"></app-users>

    <!-- <h3>Model driven form</h3> -->
    <!-- als output event app-add-user.add afgaat, roep dan addMe aan -->
    <app-add-user (add)="addMe($event)"></app-add-user>

    <!-- Template driven----------------<BR>
    <form (ngSubmit)="save()" novalidate #f="ngForm">
        <label for="inputPostalCode">Postal code: </label>
        <input (input)="onChange($event)" type="text" [(ngModel)]="postalcode" id="inputPostalCode" name="vvvv" #pc="ngModel"
            pattern="^[a-zA-Z]{4}[0-9]{2}$">
        <span *ngIf="pc.dirty && pc.invalid">Invalid. </span>
        <button [disabled]="f.invalid">Save</button>
    </form> -->

</div>
<p><button (click)="flip()">Debug</button></p>
<div *ngIf=show>
    <pre>Users: {{users | json}}</pre>
</div>