<h2>Invite people</h2>
<form [formGroup]="inviteForm">
    <div>
        <label for="event">Event</label>
        <input type="text" id="event" formControlName="event">
        <span *ngIf="inviteForm.get('event').touched && inviteForm.get('event').invalid">*</span>
    </div>

    <div formArrayName="dates">
        <h3>Select dates</h3>
        <div *ngFor="let _ of nrOfPossibleDatesArray; let i = index" [formGroupName]="i">
            <label [for]="'date_' + i">Option {{i + 1}}</label>
            <input type="date" [id]="'date_' + i" formControlName="date">
        </div>
    </div>

    <div formArrayName="contacts">
        <h3>Select attendees</h3>
        <ul>
            <li *ngFor="let contact of contacts; let i = index" [formGroupName]="i">
                <input type="hidden" formControlName="id">
                <label>
                    <input type="checkbox" formControlName="selected">
                    {{contact | contactName}}
                </label>
            </li>
        </ul>
    </div>

    <button [disabled]="inviteForm.invalid" (click)="save()">Opslaan</button>
</form>