/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-valid {
	border-left: 5px solid green;
}
input.ng-touched.ng-invalid {
	border-left: 5px solid red;
}
#content{
	margin: 10px;
	border: 0px solid lightslategrey;	
}
#debug{
	margin-top: 10px;
	border: 2px solid lightslategrey;
	width: 500px;
}
// form div {
// 	display: flex;
// 	margin: 5px;
// }

// .flex {
// 	display: flex;
// }
// .flex form {
// 	margin-right: 50px;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
